body {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid black;
    
}
thead th {
    cursor: pointer;
}

.tableDiv {
    width: auto;
    background-color: aqua;
}